
<div class="row m-0 justify-content-center align-items-center vh-100 agenda">
  <div class="container mt-5">
    <div class="table-responsive">
      <table class="table table-dark text-center table-striped table-hover table-bordered" border="1">
        <thead>
          <tr class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">CORREO</th>   
            <th scope="col">FECHA DE NACIMIENTO</th>
            <th scope="col">IMAGEN</th>
            <th scope="col">OPCIONES</th>
          </tr>
        </thead>
        <tbody>
          {{#each agenda}}
          <tr class="align-middle">
            <th scope="row">{{this.id}}</th>
            <td>{{this.nombre}}</td>
            <td>{{this.apellido}}</td>
            <td>{{this.correo}}</td>
            <td>{{this.fecha_nac}}</td>
            <td>{{this.imagen}}</td>
            <td>
                <a href="/agenda/editar/{{this.id}}" class="btn btn-sm btn-warning">Editar</a>
                <a href="/agenda/eliminar/{{this.id}}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <center>
        <a href="/agenda/agregar" class="btn btn-lg btn-primary" >Agregar</a>
      </center>
      </div>
  </div>
</div>